<section id="now" class="card now">
  <img class="cover" src="{{.Now.Cover}}">
  <div class="now-info">
    <span class="eyebrow">Album</span>
    <h2 class="now-title ellipsis">{{.Now.Title}}</h2>
    <p class="now-artist ellipsis">{{.Now.Artist}}</p>
    <p class="now-meta"><img class="meta-icon" src="clock">{{.Now.Genre}} · {{.Now.Length}}</p>
    <div class="now-actions">
      <div id="heart" class="icon-btn icon-heart{{if .Liked}} on{{end}}" data-action="heart"></div>
      <div id="more" class="icon-btn icon-more" data-action="more"></div>
    </div>
    <div class="progress">
      <span id="elapsed" class="time">{{.Elapsed}}</span>
      <div id="seek" class="bar seek" data-action="seek">
        <span class="fill" data-action="seek" style="width:{{.Progress}}%"></span>
        <span class="segs"><span id="seek-0" class="seg" data-action="seek-0"></span><span id="seek-1" class="seg" data-action="seek-1"></span><span id="seek-2" class="seg" data-action="seek-2"></span><span id="seek-3" class="seg" data-action="seek-3"></span><span id="seek-4" class="seg" data-action="seek-4"></span><span id="seek-5" class="seg" data-action="seek-5"></span><span id="seek-6" class="seg" data-action="seek-6"></span><span id="seek-7" class="seg" data-action="seek-7"></span><span id="seek-8" class="seg" data-action="seek-8"></span><span id="seek-9" class="seg" data-action="seek-9"></span></span>
      </div>
      <span id="remaining" class="time right">{{.Remaining}}</span>
    </div>
    <div class="transport">
      <div id="shuffle" class="tbtn btn-shuffle{{if .Shuffle}} on{{end}}" data-action="shuffle"></div>
      <div id="prev" class="tbtn btn-prev" data-action="prev"></div>
      <div id="play" class="play-btn{{if .Playing}} playing{{end}}" data-action="play"></div>
      <div id="next" class="tbtn btn-next" data-action="next"></div>
      <div id="repeat" class="tbtn btn-repeat{{if .Repeat}} on{{end}}" data-action="repeat"></div>
    </div>
    <div class="volume-row">
      <div class="vol-icon{{if .Muted}} mute{{end}}"></div>
      <div id="volume" class="bar vol" data-action="volume">
        <span class="fill" data-action="volume" style="width:{{.Volume}}%"></span>
        <span class="segs"><span id="volume-0" class="seg" data-action="volume-0"></span><span id="volume-1" class="seg" data-action="volume-1"></span><span id="volume-2" class="seg" data-action="volume-2"></span><span id="volume-3" class="seg" data-action="volume-3"></span><span id="volume-4" class="seg" data-action="volume-4"></span><span id="volume-5" class="seg" data-action="volume-5"></span><span id="volume-6" class="seg" data-action="volume-6"></span><span id="volume-7" class="seg" data-action="volume-7"></span><span id="volume-8" class="seg" data-action="volume-8"></span><span id="volume-9" class="seg" data-action="volume-9"></span></span>
      </div>
    </div>
  </div>
</section>
