<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>Flappy Bird</title><!-- stylesheet -->
</head>

<body>
    <div class="scene" id="scene">
        <div id="c0" class="cloud" style="left:40px;top:96px;width:78px;height:26px"></div>
        <div id="c1" class="cloud" style="left:210px;top:300px;width:64px;height:26px"></div>
        <div id="c2" class="cloud" style="left:380px;top:120px;width:72px;height:26px"></div>
        <div id="p0t" class="pipe" style="left:210px;top:0;width:62px;height:200px"></div>
        <div id="p0tc" class="cap" style="left:204px;top:174px;width:74px;height:26px"></div>
        <div id="p0b" class="pipe" style="left:210px;top:426px;width:62px;height:198px"></div>
        <div id="p0bc" class="cap" style="left:204px;top:400px;width:74px;height:26px"></div>
        <div id="p1t" class="pipe" style="left:300px;top:0;width:62px;height:200px"></div>
        <div id="p1tc" class="cap" style="left:294px;top:174px;width:74px;height:26px"></div>
        <div id="p1b" class="pipe" style="left:300px;top:426px;width:62px;height:198px"></div>
        <div id="p1bc" class="cap" style="left:294px;top:400px;width:74px;height:26px"></div>
        <div id="p2t" class="pipe" style="left:390px;top:0;width:62px;height:200px"></div>
        <div id="p2tc" class="cap" style="left:384px;top:174px;width:74px;height:26px"></div>
        <div id="p2b" class="pipe" style="left:390px;top:426px;width:62px;height:198px"></div>
        <div id="p2bc" class="cap" style="left:384px;top:400px;width:74px;height:26px"></div>
        <div id="gtop" class="grass" style="left:0;top:624px;width:480px;height:16px"></div>
        <div id="ground" class="sand" style="left:0;top:640px;width:480px;height:80px"></div>
        <div id="s0" class="dash" style="left:0px;top:662px;width:44px;height:10px"></div>
        <div id="s1" class="dash" style="left:80px;top:662px;width:44px;height:10px"></div>
        <div id="s2" class="dash" style="left:160px;top:662px;width:44px;height:10px"></div>
        <div id="s3" class="dash" style="left:240px;top:662px;width:44px;height:10px"></div>
        <div id="s4" class="dash" style="left:320px;top:662px;width:44px;height:10px"></div>
        <div id="s5" class="dash" style="left:400px;top:662px;width:44px;height:10px"></div>
        <div id="b-body" class="bird" style="left:113px;top:347px;width:34px;height:26px"></div>
        <div id="b-belly" class="belly" style="left:117px;top:360px;width:26px;height:11px"></div>
        <div id="b-wing" class="wing" style="left:115px;top:354px;width:15px;height:10px"></div>
        <div id="b-eye" class="eye" style="left:138px;top:349px;width:9px;height:9px"></div>
        <div id="b-pupil" class="pupil" style="left:141px;top:351px;width:4px;height:4px"></div>
        <div id="b-beak" class="beak" style="left:145px;top:356px;width:11px;height:8px"></div>
        <div id="board" class="board" style="left:84px;top:236px;width:312px;height:208px"></div>
        <div id="t-score" class="score">0</div>
        <div id="t-title" class="title">FLAPPY BIRD</div>
        <div id="t-hint" class="hint">SPACE OR CLICK TO FLAP</div>
        <div id="t-over" class="over">GAME OVER</div>
        <div id="t-oscore" class="line" style="top:322px">SCORE 0</div>
        <div id="t-obest" class="line" style="top:356px">BEST 0</div>
        <div id="t-again" class="again">PRESS R OR SPACE</div>
    </div>
</body>

</html>