<header class="topbar">
  <div class="tb-left">
    <span id="back" data-action="back" class="circle tb-back"></span>
    <span id="forward" data-action="forward" class="circle tb-forward"></span>
  </div>
  <div class="search-pill">
    <span class="search-icon"></span>
    <input id="q" type="text" class="search-input" placeholder="What do you want to play?">
    <span id="search" data-action="search" class="search-go"></span>
  </div>
  <div id="avatar" data-action="nav-profile" class="avatar{{if eq .Nav "profile"}} on{{end}}">C</div>
</header>
