<section id="card-fixes" class="card stat">
  <p class="stat-value">{{.Fixes.Value}}</p>
  <p class="stat-label">Fixes made by flow</p>
  <div class="rule"></div>
  <div class="fix-row"><span><b>{{.Fixes.Corrected}}</b> words corrected</span><span id="tip-corrected" class="tip"><img class="info" src="icon-info"><span class="tip-bubble">Words Flow corrected as you dictated.</span></span></div>
  <div class="fix-row"><span><b>{{.Fixes.Dictionary}}</b> dictionary fixes</span><span id="tip-dictionary" class="tip"><img class="info" src="icon-info"><span class="tip-bubble">Fixes Flow applied from your personal dictionary.</span></span></div>
</section>
